if locals.session.user
    nav
        ul
            li
                a(href="http://localhost:3000/organizations") Organizations
            li
                a(href="http://localhost:3000/events") Events
    section(class="signedInHeader")
        if session.user.userAvatar
            img(class="userAvatar", src= session.user.userAvatar)
        else
            img(class="userAvatar", src="../images/default_avatar.png")
        ul(class="userAccountActions")
            li
                a(href="http://localhost:3000/users/edit") Settings
            li
                a(href="http://localhost:3000/mailbox") Inbox
            li
                a(href="http://localhost:3000/signout") Sign Out