if locals.session.user
    a(href="http://localhost:3000/") Home
    p= session.user.username
    a(href='http://localhost:3000/signout') Sign Out
    section(class="search_form_section")
        form(action="http://localhost:3000/search", method="get")
            input(type="text", name="userQuery", placeholder="Search for groups..")
            input(type="submit" value="Search")