if locals.session.user
    section(class="signedInHeader")
        a(href="http://localhost:3000/") Home
        p= session.user.username
        img(class="userAvatar", src= session.user.userAvatar)
        a(href='http://localhost:3000/signout') Sign Out
        section(class="searchFormSection")
            form(action="http://localhost:3000/search", method="get")
                input(type="text", name="userQuery", placeholder="Search for groups..")
                input(type="submit" value="Search")