if user
    section(class="signedInHeader")
        p= user.username
        if user.userAvatar
            img(class="userAvatar", src= session.user.userAvatar)
        else
            img(class="userAvatar", src="../images/default_avatar.png")
        a(href='http://localhost:3000/signout') Sign Out
        section(class="searchFormSection")
            form(action="http://localhost:3000/search", method="get")
                input(type="text", name="userQuery", placeholder="Search for groups..")
                input(type="submit" value="Search")
else
    form(action="http://localhost:3000/signin", method="post")
        input(type="text", name="username", placeholder="Username")
        input(type="password", name="password", placeholder="Password")
        input(type="submit" value="Sign In")