extends layout

block content
    h1 Edit Organization Information
    form(action="http://localhost:3000/organizations/#{org_id}/edit", method="post")
        p Organization Name:
        input(type="text", name="new_org_name")
        p Description:
        input(type="text", name="new_org_desc")
        input(type="submit", value="Submit")