extends layout

block content
    h1 Edit your Account
        form(action="http://localhost:3000/profiles/edit", method='post')
            input(type='password', name='newPassword', placeholder='New password')
            input(type='text', name='newEmail', placeholder='New email')
            input(type='submit', value='Edit')
        
    a(href="http://localhost:3000/profiles/delete") Delete your Account