extends layout-notsignedin

block content
    p(class="welcomeMessage") Welcome to the Neumont Group Network! With this website, students of Neumont University finally have a centralized site where they can organize student-run events and keep up to date with their clubs and orders.
    a(class="register-button", href="http://localhost:3000/register") Sign Up