extends layout

block content
    p(class="welcomeMessage") Welcome to the Neumont Group Network! With this website, students of Neumont University finally have a centralized site where they can organize student-run events and keep up to date with their clubs and orders.
    p Sign In
    form(class="signInForm", action="http://localhost:3000/signin", method="post")
            input(type="text", name="username", placeholder="Username")
            input(type="password", name="password", placeholder="Password")
            input(type="submit", value="Sign in")
    a(class="register-button", href="http://localhost:3000/register") Sign Up