doctype html
html
    head
        if title
            title= title
        else
            title Neumont Group Network
        link(rel='stylesheet', href='/stylesheets/style.min.css')
    body
        header
            a(class='logo' href='http://localhost:3000/') 
                span(class='logo-text') Neumont Group Network
            include ./partials/header-signedin.jade
        p(class='message') #{message}
        p(class='errorMessage') #{errorMessage}
        section(class="bodyContent")
            block content
        footer
            p Created 2015, Christian Ramon