doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.min.css')
    body
        header
            if locals.userId
                p= username
                a(href='http://localhost:3000/signout') Sign Out
        h4(class="message") #{message}
        h4(class="errorMessage") #{errorMessage}
        block content
        footer
            p Created 2015, Christian Ramon