doctype html
html
    head
        if title
            title= title
        else
            title Neumont Group Network
        link(rel='stylesheet', href='/stylesheets/style.min.css')
    body
        header
            include ./partials/header-signedin.jade
        h4(class="message") #{message}
        h4(class="errorMessage") #{errorMessage}
        block content
        footer
            p Created 2015, Christian Ramon