doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/resources/css/style.css')
    body
        header
        block content
        footer
            p Created 2015, Christian Ramon