doctype html
html
    head
        if title
            title= title
        else
            title Neumont Group Network
        link(rel="stylesheet", type="text/css", media="(min-width: 961px)", href="/stylesheets/style.min.css")
        link(rel="stylesheet", type="text/css", media="(min-width: 661px) and (max-width: 960px)", href="/stylesheets/style-660.min.css")
        link(rel="stylesheet", type="text/css", media="(min-width: 510px) and (max-width: 660px)", href="/stylesheets/style-under660.min.css")
        link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Lato:400,700,900|Oswald:400,700")
    body
        header
            a(class="logo" href="http://localhost:3000/")
                span(class="logo-text") Neumont Group Network
            include ./partials/header-signinform.jade
        main(class="bodyContent")
            p(class="message") #{message}
            p(class="errorMessage") #{errorMessage}
            block content
        footer
            p Created 2015, Christian Ramon, Neumont University