extends layout

block content
	h1 Server Error
	p Oh no. Something went wrong with our server. We apologize for the inconvenience, this shouldn't happen again.
	h3 Your error:
	pre #{serverErrorMessage}
	p If this problem continues, please contact the administrator at christianr465@gmail.com and include this error message.