extends layout

block content
    h1 Register
        form(class="userRegistrationForm", action="http://localhost:3000/register", method="post")
            input(type="text", name="username", placeholder="Your username")
            input(type="password", name="password", placeholder="Your password")
            input(type="password", name="passwordConfirm", placeholder="Confirm password")
            p Upload an avatar:
            input(type="file", name="newUserAvatar", accept="image/*")
            input(type="text", name="email", placeholder="Your email")
            input(type="submit", value="Register")
            //
                Mention something about prohibited characters