extends layout

block content
    h1 Search Results
    section(class="searchResultsSection")
        if searchResults
            h4 Organizations:
            for result in searchResults
                - var orgId = result.orgId
                img(src=result.org_image_path)
                a(href="http://localhost:3000/organizations/#{orgId}")= result.orgName
        else
            p No results found