extends layout

block content
    h1 Search Results
    if locals
        p locals exists
        
    if locals
        ul
            for result in locals
                li
                    a(href="http://localhost:3000/organizations/")= result[0].name