extends layout

block content
    h1 Search Results
    if searchResults
        for result in searchResults
            - var orgId = result.orgId
            a(href="http://localhost:3000/organizations/#{orgId}")= result.orgName
            br
    else
        p No results found