
extends layout

block content
    h3 Sign In
    form(class="signInForm", action="http://localhost:3000/signin", method="post")
            input(type="text", name="username", placeholder="Username")
            input(type="password", name="password", placeholder="Password")
            input(type="submit", value="Sign in")